<div>
  <h1 class="title">Contact me</h1>
  <p class="subtitle">
    If you have any doubts or job offer, send me a message.
  </p>
  <form
    class="form"
    id="fs-frm"
    name="simple-contact-form"
    accept-charset="utf-8"
    action="https://formspree.io/mdowpopg"
    method="post"
  >
    <fieldset id="fs-frm-inputs">
      <label for="full-name">Full Name</label>
      <input type="text" name="name" id="full-name" required="" />
      <label for="email-address">Email Address</label>
      <input type="email" name="_replyto" id="email-address" required="" />
      <label for="message">Message</label>
      <textarea rows="5" name="message" id="message" required=""></textarea>
      <input
        type="hidden"
        name="_subject"
        id="email-subject"
        value="Contact Form Submission"
      />
    </fieldset>
    <input type="submit" value="Submit" />
  </form>
  <p>
    You can also contact me throw
    <a href="https://www.linkedin.com/in/jason-alvarado/">Linkedin</a>
  </p>
</div>
