.col-md-6,
.col-sm-12 {
  padding: 10px;
  height: auto;
}

.project {
  display: block;
  border: 1px solid white;
  border-radius: 10px;
  height: auto;
  padding: 20px;
}

.project-title {
  text-align: center;
}

.project-description {
  text-align: center;
}

.project-image {
  text-align: center;
}

.project-image img {
  height: 8em;
}

.project-title {
  text-align: center;
}

.project-links {
  margin: 0 auto;
}

.btn-primary {
  width: 45%;
  margin: 2%;
}

.card {
  background: transparent;
  height: 10em;
  border: 1px solid white;
  border-radius: 10px;
}

.card {
  text-align: center !important;
}

.card-img-top {
  text-align: center;
  height: 400px;
  padding: 20%;
  width: 100%;
}
