.project-title {
  text-align: center;
}

.project-description {
  display: inline-block;
  text-align: justify;
}

.skill {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.skill-item {
  padding: 6px;
  border-top: 1px solid darkblue;
  border-bottom: 1px solid darkblue;
}

.skill-item:hover {
  width: 80px;
  background: darkblue;
  color: white;
  text-decoration: none;
}

.btn {
  width: 40%;
  margin: 0 5%;
}

/* Project title */
.project {
  border: 2px solid darkblue;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

.project-image {
  text-align: center;
}

.project-image img {
  height: 8em;
}

.project-title {
  text-align: center;
}

.project-links {
  margin: 0 auto;
}
