<h1 class="title">My Projects</h1>
<p class="stack">{{ description }}</p>
<div class="row">
  <div class="col"></div>
  <!-- <div class="col-md-4" *ngFor="let project of projects">
    <h3 class="project-title">{{ project.title }}</h3>
    <p class="project-year">{{ project.year }}</p>
    <p class="project-description">{{ project.description }}</p>
    <ul *ngIf="project.skills.length > 0" >
      <li *ngFor="let skill of project.skills" >{{skill}</li>
    </ul>
  </div> -->
</div>
<ul class="skill-list">
  <li class="skill">
    <a class="skill-item" href="">.NET</a>
  </li>
  <li class="skill">
    <a class="skill-item" href="">MEAN</a>
  </li>
  <li class="skill">
    <a class="skill-item" href="">MERN</a>
  </li>
</ul>
