<h1 class="title">My Projects</h1>
<div class="row" *ngIf="projects.length > 0">
  <div class="col-md-6 col-sm-12" *ngFor="let project of projects">
    <div class="project">
      <h4 class="project-title">{{ project.title }}</h4>
      <div class="project-image">
        <img
          src="assets/img/projects/{{ project.image }}.png"
          alt="project-photo"
        />
        <p class="project-description">{{ project.description }}</p>
        <div class="project-links">
          <a class="link" href="{{ project.liveLink }}">View live</a>
          <a class="link" href="{{ project.codeLink }}">View code</a>
        </div>
      </div>
    </div>
  </div>
</div>
