.about {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Skills */
.skill-list {
  list-style-type: none;
}

.skill-item {
  width: 100%;
  margin: 20px 0;
}

.skill-image {
  text-align: center;
  display: inline-block;
  width: 40%;
}

.skill-image img {
  width: 2em;
  height: 2em;
}

.skill-description {
  display: inline-block;
  text-align: left !important;
}
