.skill-list {
  list-style-type: none;
}

.skill-item {
  display: inline-block;
  width: 25%;
  height: 6em;
}

.skill-image {
  text-align: center;
  margin: 10px 0;
}

.skill-image img {
  width: 4em;
  height: 4em;
}

.about {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.col {
  text-align: center !important;
}

.skill-description {
  text-align: center !important;
}
