<div class="about">
  <h1 class="title">About</h1>
  <p>
    I'm a systems enginering student. Always ready to improve my skills. The
    main area of my experience is .NET Framework / .NET Core, but I also have
    projects in MEAN & MERN stack. Below you can see the technologies that I use
    for my projects
  </p>
</div>
<div class="row">
  <section class="col-md-4 col-sm-12">
    <h2 class="title">Front end</h2>
    <ul class="skill-list">
      <li *ngFor="let skill of frontend" class="skill-item">
        <div class="skill-image">
          <img src="assets/img/technologies/{{ skill.image }}" />
        </div>
        <p class="skill-description">{{ skill.name }}</p>
      </li>
    </ul>
  </section>
  <section class="col-md-4 col-sm-12">
    <h2 class="title">Back end</h2>
    <ul class="skill-list">
      <li *ngFor="let skill of backend" class="skill-item">
        <div class="skill-image">
          <img src="assets/img/technologies/{{ skill.image }}" />
        </div>
        <p class="skill-description">{{ skill.name }}</p>
      </li>
    </ul>
  </section>
  <section class="col-md-4 col-sm-12">
    <h2 class="title">Dev tools</h2>
    <ul class="skill-list">
      <li *ngFor="let skill of tools" class="skill-item">
        <div class="skill-image">
          <img src="assets/img/technologies/{{ skill.image }}" />
        </div>
        <p class="skill-description">{{ skill.name }}</p>
      </li>
    </ul>
  </section>
</div>
