<div class="about">
  <h1>About</h1>
  <p>
    I'm a systems enginering student. Always ready to improve my skills. The
    main area of my experience is .NET Framework / .NET Core, but I also have
    projects in MEAN & MERN stack. Below you can see the technologies that I use
    for my projects
  </p>
</div>
<div class="row">
  <section class="col-md-12 col-sm-12">
    <h3 class="title">Front end</h3>
    <div class="row">
      <div *ngFor="let skill of skills.frontend" class="col-6 col-md-2">
        <div class="skill-image">
          <img src="assets/img/technologies/{{ skill.img }}" />
        </div>
        <p class="skill-description">{{ skill.name }}</p>
      </div>
    </div>
  </section>
  <section class="col-md-6">
    <h3 class="title">Back end</h3>
    <div class="row">
      <div *ngFor="let skill of skills.backend" class="col-6 col-md-3">
        <div class="skill-image">
          <img src="assets/img/technologies/{{ skill.img }}" />
        </div>
        <p class="skill-description">{{ skill.name }}</p>
      </div>
    </div>
  </section>
  <section class="col-md-6">
    <h3 class="title">Database</h3>
    <div class="row">
      <div *ngFor="let skill of skills.database" class="col-6 col-md-4">
        <div class="skill-image">
          <img src="assets/img/technologies/{{ skill.img }}" />
        </div>
        <p class="skill-description">{{ skill.name }}</p>
      </div>
    </div>
  </section>
</div>
