<div class="jumbotron text-center">
  <h1>About</h1>
  <p>
    The main area of my experience is .NET Framework / .NET Core. But I also
    have projects in MEAN & MERN stack
  </p>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-6">
      <section class="skill-section">
        <h3 class="skill-title">Front end</h3>

        <div class="row">
          <div class="col-md-4">
            <div class="skill">
              <img
                src="../../../assets/img/technologies/angular.png"
                alt="Angular"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="skill">
              <img src="../../../assets/img/technologies/react.png" alt="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="skill">
              <img
                src="../../../assets/img/technologies/bootstrap.png"
                alt=""
              />
            </div>
          </div>
        </div>

        
      </section>
    </div>
    <div class="col-md-6">
      <section class="skill-section">
        <h3 class="skill-title">Back end</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="skill">
              <img
                src="../../../assets/img/technologies/net-framework.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="skill">
              <img src="../../../assets/img/technologies/net-core.png" alt="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="skill">
              <img src="../../../assets/img/technologies/node-js.png" alt="" />
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <section class="skill-section">
        <h3 class="skill-title">Database</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="skill">
              <img
                src="../../../assets/img/technologies/sql-server.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="skill">
              <img src="../../../assets/img/technologies/mongodb.png" alt="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="skill">
              <img src="../../../assets/img/technologies/mysql.png" alt="" />
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
