/* You can add global styles to this file, and also import other style files */
.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subtitle {
  text-align: center;
}

header {
  display: block;
  background: darkblue;
  color: white;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  font-size: 120%;
}

body {
  background: #222222;
  color: white;
}

.title {
  width: 100%;
  color: white;
  border-bottom: 1px solid white;
}

.link {
  background: darkblue;
  color: white;
  margin: 20px;
}

.link:hover {
  background: white;
  color: black;
}

.link,
.link:hover {
  margin-top: 150px;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  text-decoration: none;
}

section {
  margin: 0;
  padding: 0;
}
